@import "../../shared/styles/main";
.section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 5rem;
  background-color: #090B0D;
  @media (max-width: 840px){
    gap: 1rem;
  }
}
.sectionBorder {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  transform-origin: left;
}
.content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15rem 0;
  @media (max-width: 1025px){
    padding: 2rem 2rem 15rem 0;
  }
  @media (max-width: 840px){
    padding: 4rem .5rem;
  }
  div{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 70%;
    @media (max-width: 1025px){
      max-width: 100%;
    }
    p{
      margin: 0;
      font-size: 2rem;
      @media (max-width: 840px){
        font-size: 1rem;
      }
    }
    span{
      font-weight: bold;
      text-decoration: underline;
    }
  }
}