@font-face {
	font-family: 'ALSGorizontVariable';
	src: url('../fonts/alsgorizontvariable.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/alsgorizontvariable.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/alsgorizontvariable.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/alsgorizontvariable.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/alsgorizontvariable.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/alsgorizontvariable.svg#alsgorizontvariable') format('svg'); /* Chrome < 4, Legacy iOS */
}