.paginationSection{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 6rem 8rem;
  gap: 4rem;
  width: 100%;
  @media(max-width: 1025px) or (max-height: 800px){
    padding: 1rem;
  }
  @media(max-width: 640px){
    gap: 1rem;
  }
}
.paginationContent{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.btns{
  position: relative;
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
  height: fit-content;
  @media(max-width: 640px){
    padding-bottom: .5rem;
  }
}
.titleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: 640px){
    flex-direction: column;
    gap: 1rem;
  }
}
.paginationContent {
  overflow: hidden; // уже есть, но на всякий
}

.embla__container {
  display: flex;
  gap: 2rem; // твой текущий gap из .content
  align-items: center;
  user-select: none; // чтобы drag работал гладко
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @media (max-width: 640px) {
    gap: 0.5rem;
  }
}