@import "./shared/styles/font";
@import "./shared/styles/main";
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: #090B0D;
    padding: 0;
    margin: 0;
}

* {
    transition: all ease-in-out .3s;
    font-family: ALSGorizontVariable, sans-serif ;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
