.btn{
    padding: 1rem 2rem;
    border-radius: 9rem;
    border: 2px solid white;
    background: none;
    cursor: pointer;
    width: fit-content;
    font-size: 1.5rem;
    &:hover{
        background-color: white;
        color: black;
    }
  @media (max-width: 640px){
    font-size: 1rem;
    padding: 1rem;
  }
}