.header{
    position: fixed;
    width: 100%;
  z-index: 999;
  @media(max-width: 980px) {
    padding: 1rem;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
  }
}
.nav{
    display: flex;
    padding: 1rem 7rem;
    gap: 1rem;
    justify-content: center;
    a{
        padding: 1rem;
    }
    a:hover{
        font-weight: bold;
        text-decoration: underline;
    }
  @media(max-width:980px){
    position: absolute;
    top: 0;
    left: -100vw;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    background-color: rgb(0, 0, 0);
  }
}
.burger{
  cursor: pointer;
  transition: .3s ease-in-out;
  aspect-ratio: 1 / 1;
  @media(min-width: 980px){
    display: none;
  }
  div{
    background-color: white;
    width: 3rem;
    height: .25rem;
    &::after,&::before{
      content: "";
      position: absolute;
      width: 3rem;
      height: .25rem;
      background-color: white;
  }
    &::before{
      margin-top: .5rem;
    }
    &::after{
      margin-top: 1rem;
    }
  }
  &.active{
    div:after{
      transform: rotate(45deg);
      margin-top: 1rem;
    }
    div:before{
      transform: rotate(-45deg);
      margin-top: 1rem;
    }
    div{
      background-color: rgba(255, 250, 250, 0);
    }
  }
}