.footer{
  padding: 5.5rem 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  @media (max-width: 640px) {
    padding: 2rem;
  }
}
.boxNav{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.boxItem{
  display: flex;
  gap: 1rem;
}
.itemList{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.boxRight{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}