.section{
  width: 100%;
  display: flex;
  gap: 5rem;
  border-bottom: 1px solid white;
  @media (max-width: 1025px){
    gap: 1rem;
  }
}
.time{
  transform: rotate(90deg);
  margin-left: 6rem;
  margin-top: 4rem;
  font-size: 2rem;
}
.content{
  display: flex;
  gap: 2rem;
  align-items: center;
  align-content: center;
  @media(max-width: 640px){
    gap: .5rem;
  }
}
.contentVideo{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media(max-width: 1025px){
    gap: 0;
  }
}
.h2Content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  h2{
    font-weight: normal;
    font-size: 1rem;
  }
}
.wide{
  width: 50rem;
  aspect-ratio: 1.7/1;
  border-radius: 4rem;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  @media(max-width: 1025px) or (max-height: 800px){
    width: 40rem;
  }
  @media(max-width: 840px){
    width: 30rem;
    border-radius: 2rem;
  }
  @media(max-width: 640px){
    width: 15rem;
    border-radius: 1rem;
  }
}
.tall{
  width: 25rem;
  aspect-ratio: 1/1.78;
  border-radius: 4rem;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  @media(max-width: 1025px) or (max-height: 800px){
    width: 15rem;
    border-radius: 2rem;
  }
  @media(max-width: 640px){
    width: 7rem;
    border-radius: 1rem;
  }
}
.notYet{
  scale: 0;
  opacity: 0;
  height: 0;
}
.second{
  width: 40rem;
  opacity: 0.5;
  filter: grayscale(90%) blur(2px);
  pointer-events: none;
  transform: scale(0.92);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  @media(max-width: 840px){
    width: 30rem;
  }
  @media(max-width: 640px){
    width: 12rem;
    border-radius: 1rem;
  }
}
.textWrapper {
  position: absolute;
  bottom: -3rem;                     // под видео
  width: 60%;
  max-width: 60rem;
  text-align: center;
  pointer-events: none;              // чтобы не мешал кликам
  z-index: 999;
}

.h2 {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  padding: 0 1rem;
  word-wrap: break-word;
  display: inline-block;

  @media(max-width: 640px) {
    font-size: .8rem;
  }
}
.sliderWrapper {
  width: 100%;
  overflow: hidden;
}

.scrollContainer {
  transition: transform 0.6s cubic-bezier(0.32, 0, 0.17, 1);
  will-change: transform;
}

.content {
  display: flex;
  gap: 2rem;
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: flex-start;
}

.contentVideo {
  flex-shrink: 0;
}