.section{
    height: 95vh;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
.contentDown{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0 5rem;
    align-content: end;
    height: fit-content;
    box-sizing: border-box;
    @media (max-width: 1025px){
        grid-template-columns: 1fr;
        gap: 2rem;
    }
  @media (max-width: 840px){
    padding: 0 1rem;
  }
}
.left{
    font-weight: 750;
    h1{
        font-size: 7rem;
        margin: 0;
        width: fit-content;
        text-decoration: 4px underline solid white;
      @media (max-width: 840px){
        font-size: 4rem;
      }
      @media (max-width: 640px){
        font-size: 2rem;
      }
    }
    @media (max-width: 1025px){
        display: flex;
        gap: 2rem;
    }
}
.right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    h2{
        font-size: 4rem;
        font-weight: 400;
        @media (max-width: 1025px){
            display: none;
        }
    }
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 25%;
  @media (max-width: 640px){
    display: none;
  }
}

.videoBg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
